.waiting-message {
  font-family: "Bubblegum Sans", sans-serif;
  background-color: hotpink;
  font-size: 25px;
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center
}