.mcountdown-timer {
  position: fixed;
  width: 52px;
  height: 52px;
  top: 0;
  right:0;
  margin-right: 10px;
  margin-top: 16px;
}

.mcountdown-timer__circle circle {
  stroke-dasharray: 151px;
  stroke-dashoffset: 151px;
  stroke-linecap: butt;
  stroke-width: 5px;
  stroke: black;
  fill: none;
}

.mcountdown-timer__circle svg {
  width: 52px;
  height: 52px;
  transform: rotateZ(-90deg);
}

.mcountdown-timer__text {
  position: fixed;
  top: 36px;
  width: 52px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

@keyframes mcountdown-animation {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 151px;
  }
}