.flex {
  display: flex;
  justify-content: center;
  height: 85vh;
}

// .left,
// .right {
//   border-style: solid;
// }

// .left {
//   border-width: 5px 0px 5px 5px;
// }
// .right {
//   border-style: solid;
//   border-width: 5px 5px 5px 0px;
// }

.word {
  font-size: 3em;
  white-space: pre-wrap;
  text-transform: uppercase;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 5%;
  margin-top: -50px;

}

.canvas-container {
  display: flex;
  justify-content: center;
}
