.left {
  margin-left: auto;
  margin-top:5em;
  border-style: solid;
  border-width: 0 3px 0 0;
}
.right {
  margin-right: auto;
  margin-top:5em;

}

.canvas-container {
  display: flex;
  justify-content: center;
}
.word {
  font-family: "Bubblegum Sans", sans-serif;
  font-size: 2.5em;
  margin-top: 0.5em;
  white-space: pre-wrap;
  text-transform: uppercase;
  text-align: center;
}

.word-container {
  margin-top: 7vh;
  text-align: center;
}

.whiteboard-display {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.game_page {
  overflow: hidden;
}

.avatarlist-container,
.countdown-container {
  margin: 2em;
}
.avatarlist-container {
  bottom: 0;
  position: fixed;
}

.mAvatar {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 10px;
}

.drawer-name {
  &-left {
    left: 25vw;
    position: fixed;
    font-size:2em;
    font-style:bold;
  }
  &-right {
    right: 25vw;
    position: fixed;
    font-size:2em;
    font-style:bold;
  }
}
