body {
  overscroll-behavior: contain;
  overscroll-behavior-y: contain;
  overscroll-behavior-y: none;
}

.clear-button {
  position: absolute;
  top: 0;
  left: 0;
}

.color-box {
  width: 12.5vw;
  height: 12.5vw;
  user-select: none;
}

.color {
  &-red {
    background: red;
    color: red;
  }
  &-black {
    background: black;
    color: black;
  }
  &-yellow {
    background: yellow;
    color: yellow;
  }
  &-green {
    background: green;
    color: green;
  }
  &-blue {
    background: blue;
    color: blue;
  }
  &-orange {
    background: orange;
    color: orange;
  }
  &-grey {
    background: grey;
    color: grey;
  }
  &-brown {
    background: brown;
    color: brown;
  }
}

.toolbar {
  display: flex;
  flex-direction: row;
  bottom: 0;
  position: absolute;
}

.whiteboard-display {
  overflow: hidden;
}
