body {
  overscroll-behavior: contain;
  overscroll-behavior-y: contain;
  overscroll-behavior-y: none;
}

canvas {
  padding: 0;
  margin: auto;
  display: block;
}


.color-box {
  width: 12.5vw;
  height: 12.5vw;
  user-select: none;
}

.additional-tool-button {
  position: fixed;
  bottom: 12.5vw;
  width: 12.5vw;
  height: 12.5vw;
  left: 0;
  border-radius: 0;
  border: 0;
}

.erase {
  left: 12.5vw;
  background-color: white;
}

.clear {
  background-color: red;
}

.color {
  &-red {
    background: red;
    color: red;
  }
  &-black {
    background: black;
    color: black;
  }
  &-yellow {
    background: yellow;
    color: yellow;
  }
  &-green {
    background: green;
    color: green;
  }
  &-blue {
    background: blue;
    color: blue;
  }
  &-orange {
    background: orange;
    color: orange;
  }
  &-grey {
    background: grey;
    color: grey;
  }
  &-brown {
    background: brown;
    color: brown;
  }
}

.toolbar {
  display: flex;
  flex-direction: row;
  bottom: 0;
  position: fixed;
}