.result-board {
  background-color: hotpink;
  overflow-x: hidden;
  background-image: url("https://www.wallpaperflare.com/static/51/555/676/drawing-doodle-wallpaper.jpg");
}
.wrapper {
  position: absolute;

  top: 100%;
  left: 50%;
  width: 600px;
  margin-left: -300px;
  font-family: Abadi MT Condensed;
  text-align: center;
  color: #fff;
  animation: 50s credits linear;
  animation-delay: 0s;
  z-index: -1;
}

.roomcode {
  background-color: hotpink;
  border: 6px solid lightpink;
  justify-self: center;
  align-self: center;
  border-radius: 2px;
  font-weight: bold;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  font-size: 80px;
  letter-spacing: 0px;
  height: 25vh;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-decoration: none;
  font-family: "Bubblegum Sans", sans-serif;
}

.result {
  background-color: hotpink;
  border: 6px solid lightpink;
  justify-self: center;
  align-self: center;
  border-radius: 2px;
  font-weight: bold;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  font-size: 50px;
  font-variant: small-caps;
  height: 15vh;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: "Bubblegum Sans", sans-serif;

  &-display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.results-button {
  position: fixed;
  top: 90%;
  left: calc(50vw - 75.9px);
  z-index: -1;
  animation: cssAnimation 0s 15s forwards;
  visibility: hidden;
}

.results-header {
  font-family: "Bubblegum Sans", sans-serif;
  font-size: 3.5em;
  display: flex;
  justify-content: center;
}

.results-table {
  animation: cssAnimation 0s 15s forwards;
  visibility: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.results-heading {
  text-align: center;
  font-size: 2em;
}
.results-body {
  font-size: 1.5em;
}

.results-output {
  padding: 0px 20px;
  text-align: center;
}

.results-avatar {
  display: flex;
  align-items: center;
}

.results-content {
  margin: 0 250px;
}

.input-group-btn {
  font-size: 25px;
  color: black;
  font-family: "Bubblegum Sans", sans-serif;
  cursor: pointer;
  background-color: rgb(180, 245, 164);
  border-radius: 15px;
  display: inline-block;
  overflow: visible;
}
.link-home {
  font-size: 25px;
  padding: 1px 7px;
  color: black;
  font-family: "Bubblegum Sans", sans-serif;
  cursor: pointer;
  text-decoration: inherit;
  color: inherit;
  background-color: rgb(180, 245, 164);
  border-radius: 15px;
  display: inline-block;
  overflow: visible;
  border-width: 1px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
  border-image-source: initial; 
  border-image-slice: initial;
}

.link-home:hover{
  transform: scale(1.10);
}

@keyframes credits {
  0% {
    top: 100%;
  }
  100% {
    top: -500%;
  }
}

@keyframes cssAnimation {
  to {
    visibility: visible;
  }
}
