.game-board {
  width: 100vw;
  height: calc(100vh - 9em);
  margin: 0 auto;
  background-image: url("https://www.wallpaperflare.com/static/51/555/676/drawing-doodle-wallpaper.jpg");
  color: #fff;
  border-radius: 10px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.box {
  font-family: "Bubblegum Sans", sans-serif;
  background-color:hotpink;
  border: 6px solid lightpink;
  justify-self: center;
  align-self: center;
  border-radius: 2px;
  font-weight: bold;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 175px;
  width: 175px;
  flex-direction: column;
  justify-content: space-evenly;
  &:nth-child(1) {
    width: 25vw;
    order: 5;
  }
  &:nth-child(2) {
    order: 1;
  }
  &:nth-child(3) {
    order: 2;
  }
  &:nth-child(4) {
    order: 3;
  }
  &:nth-child(5) {
    order: 6;
  }
  &:nth-child(6) {
    order: 9;
  }
  &:nth-child(7) {
    order: 8;
  }
  &:nth-child(8) {
    order: 7;
  }
  &:nth-child(9) {
    order: 4;
  }
}

button {
  font-size: 25px;
  color: black;
  font-family: "Bubblegum Sans", sans-serif;
  cursor: pointer;
  background-color: rgb(180, 245, 164);
  border-radius: 15px;
  display:inline-block;
  border-style: outset;
}

button:hover{
  transform: scale(1.10);
}

button:disabled{
  opacity: 0.8;
  background-color: rgb(250, 106, 106);
  transform: scale(1);
  cursor: default
}

.status-message{
  font-size: 16px;
}