.game-board
{
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
  background-color: hotpink;
  color: #fff;
  border: 6px solid lightpink;
  border-radius: 10px;
	
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.box
{
  border: 6px solid lightpink;
  justify-self: center;
  align-self:center;  
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}