.home-page {
  /* The image used */
  background-image: url("https://www.wallpaperflare.com/static/51/555/676/drawing-doodle-wallpaper.jpg");

  /* Full height */
  height: 100vh;
  width: 100vw;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.create-room {
  &_button {
    font-size: 75px;
    color: black;
    font-family: "Bubblegum Sans", sans-serif;
    cursor: pointer;
    background-color: lightpink;
    border-radius: 15px;
  }
  &_link {
    text-decoration: none;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  &_button:hover {
    transform: scale(1.1);
  }
}

@media screen and (min-width: 0px) and (max-width: 500px) {
  .join-room {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 35%;
    border-radius: 30px;
    font-size: 25px;
    &_form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: lightpink;
      font-family: "Bubblegum Sans", sans-serif;
      border-radius: 10px;
      width: 55vw;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }
    &_input_code {
      display: block;
      width: 95%;
      font-family: "Bubblegum Sans", sans-serif;
      border-radius: 10px;
      background-color: lightgrey;
      font-size: 15px;
      text-transform: uppercase;
    }
    &_input {
      display: block;
      width: 95%;
      font-family: "Bubblegum Sans", sans-serif;
      border-radius: 10px;
      background-color: lightgrey;
      font-size: 15px;
    }
    &_button {
      display: block;
      justify-content: center;
      width: 100%;
      font-family: "Bubblegum Sans", sans-serif;
      border-radius: 10px;
      background-color: white;
      font-size: 25px;
    }
  }
  .create-room {
    display: none;
  }
}
@media screen and (min-width: 501px) {
  .join-room {
    display: none;
  }
  .create-room {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .instructions {
    margin-top: 0.5em;
    font-size: 3em;
  }
  .create {
    margin-top: 15%;
  }
}

.buttons-flex {
  display: flex;
  flex-direction: column;
}
.join-status-message {
  font-size: 16px;
  color: rgb(226, 23, 23);
}

.modal-pic {
  max-width: 250px;
  max-height: 250px;
  display: block;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-container-2 {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.carousel-indicators .active {
  background-color: hotpink;
}
.carousel-indicators {
  margin-top: 3em;
  background-color: pink;
}

.carousel-control-next,
.carousel-control-prev {
  display: none !important;
}

.modal-footer {
  border: none !important;
}

.modal-title {
  font-size: 2.5em !important;
  text-align: center;
  font-family: "Bubblegum Sans", sans-serif;
}

.grid-text {
  font-size: 1.5em !important;
  text-align: center;
  font-family: "Bubblegum Sans", sans-serif;
}

.left-item {
  border-width: 0px 2px 0px 0px;
  border-style: dashed;
  border-color: black;
}

.grid-item {
  padding-left: 5px;
  padding-right: 5px;
}
